<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OpenCartSuite">
<listeners>
<listener class-name="com.qa.opencart.listeners.ExtentReportListener"></listener>
<listener class-name="com.qa.opencart.listeners.TestAllureListener"></listener>
</listeners>
  <test thread-count="5" name="OpenCartTest">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.qa.opencart.testcases.HomePageTest"/>
      <class name="com.qa.opencart.testcases.LoginPageTest"></class>
      <class name="com.qa.opencart.testcases.MyAccountPageTest"></class>
      <class name="com.qa.opencart.testcases.RegistrationPageTest"></class>
      <class name="com.qa.opencart.testcases.ProductDetailsPageTest"></class>
    </classes>
  </test> <!-- OpenCartTest -->
</suite> <!-- OpenCartSuite -->
